@font-face {
  font-family: "Rasa";
  src: url(../../fonts/Rasa/static/Rasa-Regular.ttf);
}

@font-face {
  font-family: "Rasa Bold";
  src: url(../../fonts/Rasa/static/Rasa-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(../../fonts/Inter/static/Inter-Bold.ttf);
}
