.nav {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content min-content;

  font-family: "Rasa";
  &__lblock {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    margin: 15rem;
  }

  &__name {
    font-family: "Rasa Bold";
    font-size: 25rem;
    color: var(--beta);
    padding: 15rem;
  }

  &__list {
    grid-row: 1/2;
    grid-column: 2/3;

    display: flex;
    align-items: center;

    li {
      padding: 12rem;
      margin-left: 15rem;
    }
  }

  &__register {
    grid-row: 1/2;
    grid-column: 3/4;

    display: flex;
    align-self: center;
    justify-self: center;
    background-color: var(--gamma);
    border: 1px black solid;
    padding: 10rem;
    border-radius: 6rem;
    box-shadow: 3px 3px black;

    font-family: "Inter Bold";
    font-size: 12rem;
  }
}
